@page
@model PreviousRatingsModel

@{
    Layout = "Ofsted/_OlderOfstedLayout";
}

@if (Model.OfstedRatings.Any())
{
    <partial name="_OlderBaseRatings" model="@Model" />
}
else
{
    <p class="govuk-body">
        <strong>This school does not have an Ofsted inspection before September 2024 to show.</strong>
    </p>
}
