@using DfE.FindInformationAcademiesTrusts.Data
@using DfE.FindInformationAcademiesTrusts.Data.Enums
@using DfE.FindInformationAcademiesTrusts.Extensions
@model BeforeOrAfterTagModel

@switch (Model.BeforeOrAfterJoining)
{
  case BeforeOrAfterJoining.After:
  {
    <strong class="govuk-tag govuk-!-text-align-centre govuk-!-width-three-quarters">
      After
    </strong>
    <span class="govuk-visually-hidden">- inspected after joining the trust</span>
    break;
  }
  case BeforeOrAfterJoining.Before:
  {
    <strong class="govuk-tag govuk-tag--orange govuk-!-text-align-centre govuk-!-width-three-quarters">
      Before
    </strong>
    <span class="govuk-visually-hidden">- inspected before joining the trust</span>
    break;
  }
  case BeforeOrAfterJoining.NotYetInspected:
  {
    <span class="govuk-body">@OfstedRatingScore.NotInspected.ToDisplayString(Model.IsCurrent)</span>
    break;
  }
  default:
  {
    <span class="govuk-body">Unknown</span>
    break;
  }
}
