@page
@model BasePageModel
@{
    var mpcLink = ViewConstants.MpcLink[0].Url;
    var mpcVisible = User.IsInRole("User.Role.MPCViewer");
}


<!-- Links -->
<div class="header-links">
    @if (mpcVisible)
    {
        <a data-testid="mpcHeaderLink" href=@mpcLink class="govuk-link">Manage projects and cases</a>
    }
</div>
