@model BasePageModel
<header class="govuk-header">
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a class="govuk-header__link govuk-header__link--homepage" href="/">
                <img src="~/dist/images/department-for-education_white.png" class="govuk-header__logotype" alt="Department for Education">
            </a>
        </div>
        <div class="govuk-header__search">
            <partial name="_HeaderActionLinks" model="Model"/>
            @if (Model.ShowHeaderSearch)
            {
                <partial name="_HeaderSearchForm" model="Model"/>
            }
        </div>
    </div>
</header>

