@page
@model BasePageModel
@{
    var mpcLink = ViewConstants.MpcLink[0].Url;
    var mpcVisible = User.IsInRole("User.Role.MPCViewer");
}

@if (mpcVisible)
{
    <p class="govuk-body-s">

        <a data-testid="mpcHeaderLink" href=@mpcLink class="govuk-header__link govuk-link">Manage projects and cases</a>
        
    </p>
}
