@page
@model ReligiousCharacteristicsModel
@{
    Layout = "_SchoolLayout";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h3 class="govuk-heading-m" data-testid="subpage-header">
            @Model.PageMetadata.SubPageName
        </h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-0">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" data-testid="characteristics-authority-header">
                    Religious authority
                </dt>
                <dd class="govuk-summary-list__value" data-testid="characteristics-authority-value">
                    @Model.ReligiousAuthority
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" data-testid="characteristics-character-header">
                    Religious character
                </dt>
                <dd class="govuk-summary-list__value" data-testid="characteristics-character-value">
                    @Model.ReligiousCharacter
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" data-testid="characteristics-ethos-header">
                    Religious ethos
                </dt>
                <dd class="govuk-summary-list__value" data-testid="characteristics-ethos-value">
                    @Model.ReligiousEthos
                </dd>
            </div>
        </dl>
        <hr class="govuk-section-break govuk-section-break--m">
 
    </div>
</div>