.dfe-header__container {
  position: relative;
}

#header-search-autocomplete-container {
    .autocomplete__wrapper {
        height: 100%;

        .autocomplete__input {
            height: 100%;
        }
    }
}