.dfe-header__container {
  position: relative;
}

.gem-c-layout-super-navigation-header__search-form {
  .autocomplete__wrapper {
    height: 100%;

    .autocomplete__input {
      height: 100%;
    }
  }
}
