@page 
@model CurrentReportCardsModel
@{
    Layout = "Ofsted/_OfstedLayout";
}

@if (Model.ReportCard is null)
{
    <p class="govuk-body"><strong>This school does not have a current Ofsted inspection using the report card system to show.</strong></p>
}
else
{
    <partial name="_BaseReportCardsRatings" model="@Model" />
}
