@using DfE.FindInformationAcademiesTrusts.Extensions
@model InspectionOverviewRowViewModel?

<tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <strong>@Model?.RowTitle</strong>
    </td>

    <td class="govuk-table__cell">
        @Model?.OverviewServiceModel.AsInspectionTypeString()
    </td>
    
    @if (Model?.OverviewServiceModel is null)
    {
        <td class="govuk-table__cell">Not applicable</td>
    }
    else
    {
        <td class="govuk-table__cell">
            @Model.OverviewServiceModel.InspectionDate.ToString("dd MMMM yyyy")<br>
            @await Html.PartialAsync("_OverviewBeforeOrAfterTag", Model.OverviewServiceModel.BeforeOrAfterJoining)
        </td>
    }
</tr>
