@using System.ComponentModel
@using DfE.FindInformationAcademiesTrusts.Data.Enums
@model BeforeOrAfterJoining


@switch (Model)
{
    case BeforeOrAfterJoining.Before:
        <p class="govuk-body">This was <strong>before</strong> joining the trust.</p>
        break;
    case BeforeOrAfterJoining.After:
        <p class="govuk-body">This was <strong>after</strong> joining the trust.</p>
        break;
    case BeforeOrAfterJoining.NotYetInspected:
    case BeforeOrAfterJoining.NotApplicable:
        break;
    default:
        throw new InvalidEnumArgumentException($"Unknown value of BeforeOrAfterJoining: {Model}");
}
