@model OfstedAreaModel

<p class="govuk-body"><a class="govuk-link" href="@Model.OfstedReportUrl" rel="noreferrer noopener" target="_blank" data-testid="ofsted-inspection-reports-link">See the inspection reports at Ofsted (Opens in a new tab)</a> </p>