@page "/schools/ofsted/overview"

@model DfE.FindInformationAcademiesTrusts.Pages.Schools.Ofsted.OfstedOverviewModel
@{
    Layout = "_SchoolLayout";
}

@if (Model.DateJoinedTrust != null){
    <p class="govuk-body" data-testid="academy-joined-trust-text">This school joined the trust on <strong>  @Model.DateJoinedTrust.Value.ToString("dd MMMM yyyy")</strong>.</p>
}

<details class="govuk-details" data-testid="why-short-inspection-not-available-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Why short inspection data might not be available
        </span>
    </summary>
    <div class="govuk-details__text">
    
        <p class="govuk-body">If a school has a short Ofsted inspection followed by a full one, data about the short inspection may not appear on this page.</p>
        <p class="govuk-body">Ofsted's inspection report will contain this data.</p>
    </div>
</details>

<hr class="govuk-section-break govuk-section-break--m">

<h3 class="govuk-heading-m" data-testid="subpage-header">@Model.PageMetadata.SubPageName</h3>

<table class="govuk-table" data-testid="ofsted-inspection-table">
    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row" data-testid="current-inspection-row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header" aria-sort="none" data-testid="inspection-type-header">Inspection type</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" data-testid="date-of-inspection-header">Date of inspection</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">

        @await Html.PartialAsync("_InspectionOverviewRow", new InspectionOverviewRowViewModel("Current inspection", Model.OverviewInspectionModel.Current))
        @await Html.PartialAsync("_ShortInspectionOverviewRow", Model.OverviewInspectionModel.ShortInspection)
        @await Html.PartialAsync("_InspectionOverviewRow", new InspectionOverviewRowViewModel("Previous inspection", Model.OverviewInspectionModel.Previous))

    </tbody>
</table>