@model List<DataSourcePageListEntry>

@if (Model.Any())
{
  <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details"
           data-testid="data-source-and-updates">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <span>Where this information came from</span>
      </span>
    </summary>
    <div class="govuk-details__text">
      @foreach (var pageSource in Model)
      {
        <p class="govuk-heading-s">
          @pageSource.PageName
        </p>
        <ul class="govuk-list govuk-list--bullet">
          @foreach (var source in pageSource.DataSources)
          {
            <li data-testid="@source.TestId">
              <span>@source.ToString()</span>
            </li>
          }
        </ul>
      }
      <a class="govuk-link" asp-page="/AboutData" target="_blank" rel="noopener noreferrer" data-testid="data-source-more-info-link">
        More about the data we use (opens in a new tab)
      </a>
    </div>
  </details>
}
